@import 'partials/settings';
@import 'partials/imports';

@import 'components/footer';
@import 'components/hero';
@import 'components/navbar';
@import 'components/offer';
@import 'components/recommend';
@import 'components/cards';
@import 'components/quotes';

#ie {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body>:not(#ie) {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }

    #ie {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}

#gooey-svg {
    position: fixed;
    top: 0;
}

#main {
    background-color: $light;
}

.label {
    position: absolute;
    right: 15px;
    top: 70px;

    @include breakpoint(desktop) {
        top: 20px;
    }

    &:after,
    &:before {
        font-family: 'FontAwesome';
        font-size: 20px;
        z-index: 1;
    }

    &:before {
        content: "\f185";
        margin-right: 10px;
        color: $secondary-color;
    }

    &:after {
        content: "\f186";
        margin-left: 10px;
        color: $secondary-color;
    }
}