@import 'partials/settings';
@import 'partials/imports';

@import 'components/footer';
@import 'components/hero';
@import 'components/navbar';
@import 'components/offer';
@import 'components/recommend';

#ie {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body>:not(#ie) {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }

    #ie {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}

#gooey-svg {
    position: fixed;
    top: 0;
}

.dark-mode {
    #hero {
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            z-index: -1;
            background-color: rgba($color: #000000, $alpha: .6);
        }
    }
}