<section id="quotes" class="quotes">
    <div class="le-slider-container">
        <div class="le-slider">
            <div class="le-slide">
                {{> quote alt="Transport Fever 2" image="transport-fever-2.jpg" }}
            </div>
            <div class="le-slide">
                {{> quote alt="Transport Fever 2" image="transport-fever-2.jpg" }}
            </div>
            <div class="le-slide">
                {{> quote alt="Transport Fever 2" image="transport-fever-2.jpg" }}
            </div>
            <div class="le-slide">
                {{> quote alt="Transport Fever 2" image="transport-fever-2.jpg" }}
            </div>
        </div>
    </div>
</section>