<div id="hero">
    <div class="hero-text">
        <div class="le-container">
            <div class="le-row">
                <div class="le-cell-6">
                    <h1>Liquid</h1>
                    <h2>Die zentrale für deine PC-Spiele!</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-gooey le-gooey-effect">
        {{!-- <div class="hero-wave"></div> --}}
        {{> wave}}
        {{> wave}}
        {{> wave}}
        <a class="hero-button" href="#recommends">
            <span></span>
            <img data-src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/xbox_button_A.png">
            <span></span>
        </a>
        <span class="hero-circle"></span>
    </div>
</div>