<section id="hero">
    <label class="label">
        <div class="toggle">
            <input class="toggle-state" type="checkbox" />
            <div class="toggle-inner">
                <div class="indicator"></div>
            </div>
            <div class="active-bg"></div>
        </div>
    </label>
    <div class="hero-text">
        <div class="le-container">
            <div class="le-row">
                <div class="le-cell-6">
                    <img src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/logo.svg" alt="Liquid Logo">
                    <h1>Liquid</h1>
                    <h2>Die zentrale für deine PC-Spiele!</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-gooey le-gooey-effect">
        <div class="hero-top">
        {{> hero-overlay }}
        </div>
        <div class="hero-bottom">
        {{> hero-overlay }}
        </div>
        <a class="hero-button" href="#recommends">
            <span></span>
            <p>GO!</p>
            <span></span>
        </a>
        <span class="hero-circle"></span>
        {{> navbar/navbar }}
    </div>
</section>