<section id="hero">
    <div class="hero-text">
        <div class="le-container">
            <div class="le-row">
                <div class="le-cell-6">
                    <img src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/logo.svg" alt="Liquid Logo">
                </div>
                <div class="le-cell-6">
                    <h1>Liquid</h1>
                </div>
                <div class="le-cell-6">
                    <h2>Die zentrale für deine PC-Spiele!</h2>
                    <a class="hero-button le-gooey-effect" href="#recommend">
                        <span></span>
                        <p>GO!</p>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>