body.dark-mode {
    #hero {
        &:before {
            opacity: .6;
        }
    }
}

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("../img/final-fantasy-xv.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        background: radial-gradient(circle at 30% 50%, $primary-color 0%, $primary-color 0%, $light 50%);
        transition: all $transition-duration ease-in-out;
    }

    .label {
        position: absolute;
        right: 20px;
        top: 55px;

        @include breakpoint(desktop) {
            top: 20px;
        }

        &:after,
        &:before {
            font-family: 'FontAwesome';
            font-size: 20px;
            z-index: 1;
        }

        &:before {
            content: "\f185";
            margin-right: 10px;
            color: $secondary-color;
        }

        &:after {
            content: "\f186";
            margin-left: 10px;
            color: $secondary-color;
        }
    }

    .hero-text {
        position: absolute;
        top: 60%;
        left: 0;
        transform: translate(0, -50%);
        z-index: 6;
        display: block;
        width: 100%;
        height: 500px;
        color: $white;
        text-align: center;
        pointer-events: none;
        text-shadow: rgb(64, 64, 64) 1px 1px 3px;

        h1 {
            margin: 0;

            &:first-letter {
                color: #00abff;
            }
        }
    }

    .hero-gooey {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 5;

        // .hero-wave {
        //     z-index: 1;
        //     background: url("../img/wave.svg") repeat-x;
        //     position: absolute;
        //     bottom: 0;
        //     width: 300%;
        //     min-width: 3200px;
        //     height: 95px;
        //     animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        //     fill: $light;
        //     transform: translateX(0);
        // }

        .hero-wave {
            z-index: 1;
            position: absolute;
            bottom: 0;
            width: 1600px;
            height: 95px;

            &:first-child {
                transform: translateX(0);
                animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            }

            &:nth-child(2) {
                transform: translateX(1600px);
                animation: wave2 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            }
            
            &:nth-child(3) {
                transform: translateX(3200px);
                animation: wave3 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            }

            .hero-wave-path {
                fill: $light;
                transition: all $transition-duration ease-in-out;
            }
        }

        .hero-button {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            pointer-events: all;
            position: absolute;
            text-decoration: none;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%);
            z-index: 5;
            transition: all $transition-duration ease-in-out;

            p {
                margin: 0;
                font-size: 1.3rem;
                color: $white;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .hero-circle {
            display: none;
            position: absolute;
            z-index: 4;
            background: $primary-color;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            pointer-events: none;
            transition: background-color $transition-duration ease-in-out;

            @include breakpoint(large) {
                display: block;
            }
        }
    }
}

@keyframes button {
    0% {
        width: 50px;
        height: 50px;
    }

    75% {
        width: 55px;
        height: 45px;
        padding-top: 5px;
    }

    100% {
        width: 50px;
        height: 50px;
    }
}

@keyframes span1 {
    0% {
        left: 50%;
    }

    50% {
        left: 0;
    }

    75% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 0;
        height: 0;
        left: -30%;
    }
}

@keyframes span2 {
    0% {
        right: 50%;
    }

    50% {
        right: 0;
    }

    75% {
        width: 50%;
        height: 50%;
    }

    100% {
        width: 0;
        height: 0;
        right: -30%;
    }
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1600px);
    }
}

@keyframes wave2 {
    0% {
        transform: translateX(1600px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes wave3 {
    0% {
        transform: translateX(3200px);
    }

    100% {
        transform: translateX(1600px);
    }
}