<section id="cards">
    <div class="le-container">
        <div class="le-row le-padding-x le-padding-y">
            <div class="le-cell-6">
                <h2>#Neue Spiele entdecken!</h2>
            </div>
        </div>
    </div>
    <div class="le-container">
        <div class="cards-container">
            {{> cards-item headline="<h4>Skyrim</h4>" alt="Skyrim" data-game="skyrim" image="browse/skyrim.jpg"
                text="<p>Mit Mods von der Community ist das Spiel erst richtig fertig.</p>" }}
            {{> cards-item headline="<h4>The Witcher 3: Wild Hunt</h4>" alt="The Witcher 3" data-game="the_witcher_3" image="recommends/the-witcher-3-wild-hunt.jpg"
                text="<p>Eine atemberaubende und fesselnde Geschichte die du nie vergessen wirst.</p>" }}
            {{> cards-item headline="<h4>Forza Horizon 4</h4>" alt="Forza Horizon 4" data-game="forza_horizon_4" image="recommends/forza-horizon-4.jpg"
                text="<p>Mehr fahrspaß mit einer unzähligen Anzahl an verschiedenen Fahrzeugen.</p>" }}
            {{> cards-item headline="<h4>Monster Hunter World</h4>" alt="Monster Hunter World" data-game="monster_hunter_world" image="recommends/monster-hunter-world.jpg"
                text="<p>Ein Coop-Spiel das dich und deine Freunde herausfordern wird.</p>" }}
            {{> cards-item headline="<h4>Assassins Creed Odyssey</h4>" alt="Assassins Creed Odyssey" data-game="assassins_creed_odyssey" image="recommends/assassins-creed-odyssey.jpg"
                text="<p>Das beste Single Player Erlebnis deines Lebens.</p>" }}
            {{> cards-item headline="<h4>Naruto Shippuden Ultimate Ninja Storm 4</h4>" alt="Naruto Storm 4" data-game="naruto_storm_4" image="browse/naruto-shippuden-ultimate-ninja-storm-4.jpg"
                text="<p>Fast Combat, Arcade, Fighting, Anime Game. Für den ultimativen Weeaboo.</p>" }}
            {{> cards-item headline="<h4>Transport Fever 2</h4>" alt="Transport Fever 2" data-game="transport_fever_2" image="offers/transport-fever-2.jpg"
                text="<p>Transport Fever 2 lässt das klassische Genre der Transportsimulation neu aufleben.</p>" }}
            {{> cards-item headline="<h4>Final Fantasy XV</h4>" alt="Final Fantasy XV" data-game="final_fantasy_xv" image="final-fantasy-xv.jpg"
                text="<p>Begib dich auf die Reise, jetzt in der ultimativen Qualität.</p>" }}
        </div>
    </div>
</section>