<section id="cards">
    <div class="le-container">
        <div class="le-row le-padding-x le-padding-y">
            <div class="le-cell-6">
                <h2>#Neue Spiele entdecken!</h2>
            </div>
        </div>
    </div>
    <div class="le-container">
        <div class="cards-container">
            {{> cards-item alt="Skyrim" data-game="skyrim" image="browse/skyrim.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="The Witcher 3" data-game="the_witcher_3" image="recommends/the-witcher-3-wild-hunt.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Forza Horizon 4" data-game="forza_horizon_4" image="recommends/forza-horizon-4.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Monster Hunter World" data-game="monster_hunter_world" image="recommends/monster-hunter-world.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Assassins Creed Odyssey" data-game="assassins_creed_odyssey" image="recommends/assassins-creed-odyssey.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Naruto Storm 4" data-game="naruto_storm_4" image="browse/naruto-shippuden-ultimate-ninja-storm-4.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Transport Fever 2" data-game="transport_fever_2" image="offers/transport-fever-2.jpg" text="<p>JOJO</p>" }}
            {{> cards-item alt="Final Fantasy XV" data-game="final_fantasy_xv" image="final-fantasy-xv.jpg" text="<p>JOJO</p>" }}
        </div>
    </div>
</section>