<section id="cards">
    <div class="le-container">
        <div class="le-row le-padding-x le-padding-y">
            <div class="le-cell-6">
                <h2>#Neue Spiele entdecken!</h2>
            </div>
        </div>
    </div>
    <div class="le-container">
        <div class="cards-container">
            {{> cards-item headline="<h4>Skyrim</h4>" alt="Skyrim" data-game="skyrim" image="browse/skyrim.jpg"
                text="<p>Skyrim wurde mit mehr als als 200 'Spiel des Jahres'-Auszeichnungen prämiert, die Skyrim Special Edition erweckt den epischen Fantasy-Meilenstein mit verblüffender Detailfülle zu neuem Leben.</p>" }}
            {{> cards-item headline="<h4>The Witcher 3: Wild Hunt</h4>" alt="The Witcher 3" data-game="the_witcher_3" image="recommends/the-witcher-3-wild-hunt.jpg"
                text="<p>In den Nördlichen Königreichen tobt der Krieg. Du übernimmst den wichtigsten Auftrag deines Lebens: die Suche nach dem Kind der Prophezeiung, einer lebendigen Waffe, die den Weltenlauf ändern wird.</p>" }}
            {{> cards-item headline="<h4>Forza Horizon 4</h4>" alt="Forza Horizon 4" data-game="forza_horizon_4" image="recommends/forza-horizon-4.jpg"
                text="<p>Dynamische Jahreszeiten verändern beim weltgrößten Autofestival alles. Spiele allein oder schließe dich mit anderen zusammen, um das malerische Großbritannien in einer geteilten, offenen Welt zu erkunden.</p>" }}
            {{> cards-item headline="<h4>Monster Hunter World</h4>" alt="Monster Hunter World" data-game="monster_hunter_world" image="recommends/monster-hunter-world.jpg"
                text="<p>Willkommen in einer neuen Welt! In Monster Hunter: World, dem neusten Teil der Serie, erlebst du die ultimative Jagderfahrung – und musst alles geben, um in einer vor Überraschungen und Aufregung nur so wimmelnden Welt zu bestehen!</p>" }}
            {{> cards-item headline="<h4>Assassins Creed Odyssey</h4>" alt="Assassins Creed Odyssey" data-game="assassins_creed_odyssey" image="recommends/assassins-creed-odyssey.jpg"
                text="<p>Meistere dein Schicksal in Assassin's Creed® Odyssey selbst. Einst verstoßen, nun auf dem Weg zur lebenden Legende - beginne eine Odyssee, die die Geheimnisse deiner Vergangenheit lüften und das Schicksal des antiken Griechenlands verändern wird.</p>" }}
            {{> cards-item headline="<h4>Naruto Shippuden Ultimate Ninja Storm 4</h4>" alt="Naruto Storm 4" data-game="naruto_storm_4" image="browse/naruto-shippuden-ultimate-ninja-storm-4.jpg"
                text="<p>Das neueste Opus in der mit viel Lob bedachten STORM-Serie schickt dich auf eine atemberaubende Reise. Nutze das komplett überarbeitete Kampfsystem und stürze dich in die großartigsten Kämpfe, die du je gesehen hast!</p>" }}
            {{> cards-item headline="<h4>Transport Fever 2</h4>" alt="Transport Fever 2" data-game="transport_fever_2" image="offers/transport-fever-2.jpg"
                text="<p>Transport Fever 2 lässt das klassische Genre der Transportsimulation neu aufleben. Die Welt will erschlossen werden - mit Transportwegen zu Land, auf dem Wasser und in der Luft. Auf dass Fortschritt und Wohlstand Einzug halten mögen!</p>" }}
            {{> cards-item headline="<h4>Final Fantasy XV</h4>" alt="Final Fantasy XV" data-game="final_fantasy_xv" image="final-fantasy-xv.jpg"
                text="<p>Begib dich auf die Reise, jetzt in der ultimativen Qualität. Bietet viele Bonusinhalte und unterstützt hochauflösende Grafikoptionen und HDR10, sodass du jetzt das wundervolle und sorgfältig geschaffene Erlebnis von FINAL FANTASY XV erleben kannst wie nie zuvor.</p>" }}
        </div>
    </div>
</section>