{{#> layout/layout }}

{{#*inline "main-block"}}
<main id="main">
  {{> hero/hero }}

  <div class="le-container">
    <div class="le-row le-padding-x">
      <div class="le-cell-6">
        <h2>#Top-Sales</h2>
      </div>
    </div>
  </div>
  {{> offers/offers }}
  {{> recommends/recommends }}
</main>
{{/inline}}

{{/layout/layout }}