{{#> layout/layout }}

{{#*inline "main-block"}}
<main id="main">
  {{> hero/hero }}
  {{> cards/cards }}
  {{> quotes/quotes }}
  {{> offers/offers }}
  {{> recommends/recommends }}
</main>
{{/inline}}

{{/layout/layout }}