// $primary-color: var(--primeColor);
// $secondary-color: var(--secondColor);
// $black: var(--black);
// $white: var(--white);
$primary-color: #00abff;
$secondary-color: #0a2b3b;
$black: #222;
$white: #fff;
$primary-font-color: $black;
$secondary-font-color: $white;
$transition-duration: .4s;
$body-font: "Open Sans", sans-serif;
$headline-font: "Dosis", sans-serif;
$background-primary-color: var(--primeColor);
$background-secondary-color: var(--secondColor);

body.light-mode {
    --primeColor: #fff;
    --secondColor: #222;
}

body.dark-mode {
    --primeColor: #222;
    --secondColor: #fff;
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

p,
li,
a {
    font-family: $body-font;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 105;

    .toggle {
        position: relative;
        z-index: 1;
        height: 24px;
        width: 48px;
        border-radius: 15px;
        background: $secondary-color;
        overflow: hidden;

        .toggle-inner {
            z-index: 2;
            position: absolute;
            top: 1px;
            left: 1px;
            height: 22px;
            width: 46px;
            border-radius: 15px;
            overflow: hidden;
        }

        .active-bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 200%;
            background: $primary-color;
            transform: translate(-100%, 0);
            transition: transform 0.05s 0.15s ease-in-out;
        }

        .toggle-state {
            display: none;
        }

        .indicator {
            height: 100%;
            width: 200%;
            background: $white;
            border-radius: 13px;
            transform: translate3d(-75%, 0, 0);
            transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        }

        .toggle-state:checked~.active-bg {
            transform: translate3d(-50%, 0, 0);
        }

        .toggle-state:checked~.toggle-inner .indicator {
            transform: translate3d(25%, 0, 0);
        }
    }
}

@mixin breakpoint($size) {
    @if $size==medium {
        @media only screen and (min-width: 480px) and (min-height: 500px) {
            @content;
        }
    }

    @else if $size==large {
        @media only screen and (min-width: 768px) and (min-height: 500px) {
            @content;
        }
    }

    @else if $size==desktop {
        @media only screen and (min-width: 1024px) and (min-height: 500px) {
            @content;
        }
    }
}