<section id="recommends">
    <div class="le-row le-padding-y le-padding-x">
        <div class="le-cell-6">
            <h2>#Unsere Empfehlungen</h2>
        </div>
        <div class="le-cell-6">
            <div class="recommend-container">
                <div class="recommend-cards">
                    {{> recommend text="Forza Horizon 4<br><br>Dynamische Jahreszeiten verändern beim weltgrößten Autofestival alles. Spiele allein oder schließe dich mit anderen zusammen, um das malerische Großbritannien in einer geteilten, offenen Welt zu erkunden." link="#offers"}}
                    {{> recommend text="Monster Hunter World<br><br>Willkommen in einer neuen Welt! In Monster Hunter: World, dem neusten Teil der Serie, erlebst du die ultimative Jagderfahrung – und musst alles geben, um in einer vor Überraschungen und Aufregung nur so wimmelnden Welt zu bestehen!" link="#offers"}}
                    {{> recommend text="Assassins Creed Odyssey<br><br>Meistere dein Schicksal in Assassin's Creed® Odyssey selbst. Einst verstoßen, nun auf dem Weg zur lebenden Legende - beginne eine Odyssee, die die Geheimnisse deiner Vergangenheit lüften und das Schicksal des antiken Griechenlands verändern wird." link="#offers"}}
                    {{> recommend text="The Witcher 3<br><br>In den Nördlichen Königreichen tobt der Krieg. Du übernimmst den wichtigsten Auftrag deines Lebens: die Suche nach dem Kind der Prophezeiung, einer lebendigen Waffe, die den Weltenlauf ändern wird." link="#offers"}}
                </div>
            </div>
        </div>
    </div>
</section>