<section id="recommends">
    <div class="le-row le-padding-y le-padding-x">
        <div class="le-cell-6">
            <h2>#Unsere Empfehlungen</h2>
        </div>
        <div class="le-cell-6">
            <div class="recommend-container">
                <div class="recommend-cards">
                    {{> recommend text="Forza Horizon 4<br><br>Das beste Rennspiel auf der ganzen Welt" link="#offers"}}
                    {{> recommend text="Monster Hunter World<br><br>Das beste Coop-Spiel auf der ganzen Welt" link="#offers"}}
                    {{> recommend text="Assassins Creed Odyssey<br><br>Das beste Single Player Spiel auf der ganzen Welt" link="#offers"}}
                    {{> recommend text="The Witcher 3<br><br>Das beste Spiel auf der ganzen Welt" link="#offers"}}
                </div>
            </div>
        </div>
    </div>
</section>