<section id="recommends">
    <div class="le-container">
        <div class="le-row le-padding-y le-padding-x">
            <div class="le-cell-6">
                <h2>#Unsere Empfehlungen</h2>
            </div>
            <div class="le-cell-6">
                <div class="recommend-container">
                    <div class="recommend-cards">
                        {{> recommend text="Test" link="#offers"}}
                        {{> recommend text="Test" link="#offers"}}
                        {{> recommend text="Test" link="#offers"}}
                        {{> recommend text="Test" link="#offers"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>