<nav class="navbar">
    <img class="navbar-logo" data-src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/logo.svg">
    <img class="navbar-logo-white" data-src="{{ htmlWebpackPlugin.options.assetPath }}assets/img/logo-white.svg">
    <ul class="navbar-menu">
        <li class="navbar-dropdown bracket-hover">
            <a><i class="fa fa-user-circle"></i></a>
            <div class="navbar-dropdown-item">
                <form id="login" autocomplete="off">
                    <label class="username" for="username">Benutzername</label>
                    <input type="text" name="username" placeholder="Benutzername eingeben">
                    <label class="password" for="password">Passwort</label>
                    <input type="password" name="password" placeholder="Passwort eingeben ">
                    <label>
                        <input class="navbar-remember-checkbox" type="checkbox" name="remember"> Angemeldet bleiben
                    </label>
                    <input type="submit" value="Login">
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-recover">Passwort vergessen?</span>
                    </label>
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-register">Kein Konto? Hier registrieren</span>
                    </label>
                </form>
                <form id="recover" autocomplete="off">
                    <label class="email" for="email">E-Mail</label>
                    <input type="text" name="email" placeholder="E-Mail eingeben">
                    <input type="submit" value="Passwort anfordern">
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-register">Kein Konto? Hier registrieren</span>
                    </label>
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-login">Konto vorhanden? Hier einloggen</span>
                    </label>
                </form>
                <form id="register" autocomplete="off">
                    <label class="username" for="username">Benutzername</label>
                    <input type="text" name="username" placeholder="Benutzername eingeben">
                    <label class="email" for="email">E-Mail</label>
                    <input type="text" name="email" placeholder="E-Mail eingeben">
                    <label class="password" for="password">Passwort</label>
                    <input type="password" name="password" placeholder="Passwort eingeben ">
                    <label class="password" for="password-submit">Passwort bestätigen</label>
                    <input type="password" name="password-submit" placeholder="Passwort bestätigen ">
                    <input type="submit" value="Passwort anfordern">
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-login">Konto vorhanden? Hier einloggen</span>
                    </label>
                    <label>
                        <input type="radio" name="navbar-form-switcher">
                        <span class="switch-to-recover">Passwort vergessen?</span>
                    </label>
                </form>
            </div>
        </li>
        <li class="navbar-dropdown bracket-hover">
            <a title="Warenkorb"><i class="fa fa-shopping-cart no-arrow" aria-hidden="true"></i><span>0</span></a>
            <div class="navbar-dropdown-item">
                <ul id="navbar-favorite-list">
                    <li>Naruto Shippuden Ultimate Ninja Storm 4 <span>x</span></li>
                </ul>
            </div>
        </li>
        <li class="navbar-dropdown bracket-hover">
            <a title="Über uns">Über uns</a>
            <div class="navbar-dropdown-item">
                <h3>JOJOJO</h3>
            </div>
        </li>
        <li>
            <label>
                <input type="checkbox" class="navbar-checkbox" />
                <input id="navbar-search-input" type="text" list="navbar-search-datalist" class="navbar-input">
                <datalist id="navbar-search-datalist">
                </datalist>
                <i class="fa fa-search" aria-hidden="true"></i> Suche
            </label>
        </li>
    </ul>
</nav>