<nav class="navbar">
    <ul class="navbar-menu">
        <li>
            <a title="Log In" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In</a>
        </li>
        <li>
            <a title="Einstellungen" href="#"><i class="fa fa-cog" aria-hidden="true"></i>Einstellungen</a>
        </li>
        <li>
            <a title="Warenkorb" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Warenkorb</a>
        </li>
        <li>
            <a title="Favoriten" href="#"><i class="fa fa-heart" aria-hidden="true"></i>Favoriten</a>
        </li>
        <li>
            <label>
                <input type="checkbox" href="#" class="navbar-checkbox" />
                <input id="navbar-search-input" type="text" list="navbar-search-datalist" class="navbar-input">
                <datalist id="navbar-search-datalist">
                    <option value="asdf">asdf</option>
                </datalist>
                <i class="fa fa-search" aria-hidden="true"></i> Suche
            </label>
        </li>
    </ul>
</nav>