<nav class="navbar">
    <input type="checkbox" href="#" class="navbar-input" />
    <div class="navbar-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-menu navbar-smooth-out">
        <a title="Suche" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        <a title="Warenkorb" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a title="Favoriten" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
        <a title="Einstellungen" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <a title="Log In" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </div>
</nav>