<nav class="navbar-mobile">
    <input type="checkbox" href="#" class="navbar-input" />
    <div class="navbar-button">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-menu navbar-smooth-out le-gooey-effect">
        <a title="Startseite" href="/index.html#hero"><i class="fa fa-home" aria-hidden="true"></i></a>
        <a title="Suche" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        <a title="Warenkorb" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <a title="Kontakt" href="#footer"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a title="Log In" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </div>
</nav>