<footer id="footer">
    <div class="le-container">
        <div class="le-row">
            <div class="le-cell-6">
                <p>© <span id="year">1997</span> Liquid GmbH</p>
            </div>
        </div>
    </div>
</footer>