<section id="offers" class="offers">
    <div class="le-container">
        <div class="le-row">
            <div class="le-cell-6">
                <h2>#Sonderangebote</h2>
            </div>
        </div>
    </div>
    <div class="le-slider-container">
        <div class="le-slider">
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers" offer-end-date="Nur bis zum 31.3.2020"}}
                </div>
            </div>
        </div>
    </div>
</section>