<section id="offers-2" class="offers">
    <div class="le-container">
        <div class="le-row">
            <div class="le-cell-6">
                <h2>#Attraktive Angebote</h2>
            </div>
        </div>
    </div>
    <div class="le-slider-container">
        <div class="le-slider">
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
        </div>
    </div>
</section>