<section id="offers" class="offers">
    <div class="le-slider-container">
        <div class="le-slider">
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer alt="Transport Fever 2" image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
        </div>
    </div>
</section>