<section id="offers">
    <div class="le-slider-container">
        <div class="le-slider">
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
            <div class="le-slide">
                <div class="offer-container">
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                    {{> offer image="transport-fever-2.jpg" headline="Test" link="#offers"}}
                </div>
            </div>
        </div>
    </div>
</section>